# Used in db.py to configure the DB connections
DATABASE_URL=postgresql://user:password@db.thenile.dev:5432/db_name
LOG_SQL=True

# used in main.py to configure the logging level for the app
LOG_LEVEL=DEBUG

# used in auth.py to configure the JWT token
# DONT USE THIS SECRET KEY IN PRODUCTION - generate a new one and keep it secret!
# to get a good strong secret key, run the following command in your terminal and use the output as the secret key:
# openssl rand -hex 32
SECRET_KEY = "supersecretkey_thatshouldnotbeinproduction"
ALGORITHM = "HS256"
ACCESS_TOKEN_EXPIRE_MINUTES = 30
