{% extends "base.html" %}
{% block content %}

{% if object_list %}
<h3>All my lists</h3>
{% endif %}
<ul>
    {% for tenant in object_list %}
    <li>
        <div
            role="button"
            onclick="location.href='{% url "todos" tenant.id %}'">
            {{ tenant.name }}
        </div>
    </li>
    {% empty %}
    <h4>You have no tenants (yet)</h4>
    {% endfor %}
</ul>

<p>
    <input
        value="Add a new tenant"
        type="button"
        onclick="location.href='{% url "tenant-add" %}'"/>
</p>
{% endblock %}