.DS_Store
tmp
.vscode
.idea
.vercelswp

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*


# TypeScript 
*.tsbuildinfo

# node 
.npm
node_modules

# deps
!/package-lock.json
yarn.lock
!/yarn.lock

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test
.env.local
.env.production


# next.js build output
.next

# turbo 
.turbo
.vercel

# fly
fly.toml

# Local Netlify folder
.netlify
