# fly.toml app configuration file generated for todo-drizzle on 2023-11-14T11:50:37-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "todo-drizzle"
primary_region = "sjc"

[build]

[env]
  REQUIRE_AUTH=true
  AI_BASE_URL=https://api.fireworks.ai/inference/v1
  AI_MODEL=accounts/fireworks/models/llama-v3p1-405b-instruct
  EMBEDDING_MODEL=nomic-ai/nomic-embed-text-v1.5


[http_service]
  internal_port = 3001
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]