# fly.toml app configuration file generated for todo-java on 2023-09-17T21:13:46-07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "todo-java"
primary_region = "sjc"

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]


[[services.ports]]
handlers = ["http"]
port = "80"

[[services.ports]]
handlers = ["tls", "http"]
port = "443"
