aiohappyeyeballs==2.6.1
aiohttp==3.11.14
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.9.0
async-timeout==5.0.1
attrs==25.3.0
certifi==2025.1.31
click==8.1.8
distro==1.9.0
dotenv==0.9.9
ecdsa==0.19.1
exceptiongroup==1.2.2
fastapi==0.115.12
frozenlist==1.5.0
grpclib==0.4.7
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.7
httpx==0.27.2 # Can't upgrade to 0.28.1 because of openai issue: https://community.openai.com/t/error-with-openai-1-56-0-client-init-got-an-unexpected-keyword-argument-proxies/1040332
hyperframe==6.1.0
idna==3.10
jiter==0.9.0
markdown-it-py==3.0.0
mdurl==0.1.2
modal==0.73.126
multidict==6.2.0
numpy==2.2.4
openai==1.68.2
pandas==2.2.3
passlib==1.7.4
pgvector==0.4.0
propcache==0.3.0
protobuf==5.29.5
psycopg2-binary==2.9.10
pyasn1==0.4.8
pydantic==2.10.6
pydantic_core==2.27.2
Pygments==2.19.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-jose==3.4.0
python-slugify==8.0.4
pytz==2025.2
rich==13.9.4
rsa==4.9
shellingham==1.5.4
sigtools==4.0.1
six==1.17.0
sniffio==1.3.1
SQLAlchemy==2.0.39
sqlmodel==0.0.24
starlette==0.49.1
synchronicity==0.9.11
text-unidecode==1.3
toml==0.10.2
tqdm==4.67.1
typer==0.15.2
types-certifi==2021.10.8.3
types-toml==0.10.8.20240310
typing_extensions==4.12.2
tzdata==2025.2
watchfiles==1.0.4
yarl==1.18.3
