@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: var(--font-aeonik);
  font-size: 14px;
}

.gradientBorderButton {
  position: relative;
  display: flex;
  align-items: center;
}

.gradientBorderButton::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 0.75rem;
  padding: 1px;
  background: linear-gradient(144deg, #fdc066 0%, #d8d3e9 51%, #7bd1ed 100%);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.gradientButton {
  align-items: center;
  background: 0 0;
  border: none;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  padding: 0.5rem 1.15rem;
  position: relative;
  z-index: 1;
}

.gradientButton::before {
  border-radius: 48px;
  background: linear-gradient(144deg, #fdc066 0%, #d8d3e9 51%, #7bd1ed 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.navBlur {
  transition: background-color 300ms;
}

html:not([data-scroll="0"]) .navBlur {
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
}
