@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --scroll: 0;
  text-rendering: geometricPrecision;
}

html {
  height: 100%;
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: var(--font-aeonik);
  font-size: 14px;
}

.sidenav {
  height: calc(100vh - 62px);
}
.sidenav::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f500;
}

.sidenav::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f500;
}

.sidenav::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #1e1e1e;
}

.gradientBorderButton,
.gradientBorderButtonFade,
.gradientBorderButtonLaunch {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

.gradientBorderButton::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 0.75rem;
  padding: 1px;
  background: linear-gradient(144deg, #fdc066 0%, #d8d3e9 51%, #7bd1ed 100%);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.gradientBorderButtonLaunch::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 0.75rem;
  padding: 1px;
  background: linear-gradient(144deg, #fdc066 0%, #d8d3e9 51%, #7bd1ed 100%);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  animation: gradient 6s ease infinite;
  background-size: 200% 200%;
}

.gradientBorderButtonFade::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 0.75rem;
  padding: 1px;
  background: linear-gradient(
    144deg,
    #fdc06635 0%,
    #d8d3e935 51%,
    #7bd1ed35 100%
  );
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.gradientButton {
  align-items: center;
  background: 0 0;
  border: none;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  padding: 0.65rem 1.15rem;
  position: relative;
  z-index: 1;
  justify-content: center;
}

.gradientButton::after {
  background: linear-gradient(144deg, #fdc066 0%, #d8d3e9 51%, #7bd1ed 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: -2;
}

.navBlur {
  transition: background-color 300ms;
  background-color: rgba(0, 0, 0, 0);
  overflow: hidden;
}

html .navBlur {
  backdrop-filter: blur(min(calc(var(--scroll) * 1px), 10px));
  background-color: rgba(0, 0, 0, min(calc(var(--scroll) * 0), 0.5));
}

.bgDivider {
  position: relative;
  display: flex;
  align-items: center;
  border: solid 1px transparent;
  border-radius: 3rem;
  border-bottom: none;
  border-left: none;
  border-right: none;
  padding-bottom: 110px;
  margin-bottom: -58px;

  background-image: linear-gradient(black, black),
    linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(253, 192, 103, 0.5) 31.77%,
      rgba(131, 210, 237, 0.5) 71.35%,
      rgba(255, 255, 255, 0.1) 100%
    );
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
.itemDivider {
  position: relative;
  align-items: center;
  border: solid 1px transparent;
  border-radius: 24px;
  border-bottom: none;

  background-image: linear-gradient(black, black),
    linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(253, 192, 103, 0.5) 31.77%,
      rgba(131, 210, 237, 0.5) 71.35%,
      rgba(255, 255, 255, 0.1) 100%
    );
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
.itemDivider::before {
  pointer-events: none;
  position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  border-radius: 24px;
  content: "";
  display: block;
  height: 100%;
  left: -1px;
  right: -1px;
  top: 0;
  bottom: 0px;
  z-index: 1;
}

.grayBorder {
  position: relative;
  align-items: center;
  border: solid 1px transparent;
  border-radius: 24px;
  border-bottom: none;

  background-image: linear-gradient(black, black),
    linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.1) 100%
    );
  background-origin: border-box;
  background-clip: padding-box, border-box;
  display: flex;
}
.grayBorder::before {
  position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  border-radius: 24px;
  content: "";
  display: block;
  height: 100%;
  left: -1px;
  right: -1px;
  top: 0;
  bottom: 0px;
  z-index: 1;
}

.github-star:hover path {
  stroke: #ffb343;
  fill: #ffb343;
}

.github-star:hover .star {
  opacity: 0;
}
.icon {
  flex-shrink: 0;
  position: relative;
  align-items: center;
  border: solid 1px transparent;
  width: 60px;
  height: 60px;
  background-image: linear-gradient(225deg, #202020 0%, #000 69.6%),
    linear-gradient(225deg, #ffffff38 0%, #ffffff00 69.6%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

[id]::before {
  content: "";
  display: block;
  height: 62px;
  margin-top: -62px;
  visibility: hidden;
}

.prose {
  --tw-prose-links: #7cd1ed !important;
}

@media (min-width: 1024px) {
  .prose {
    font-size: 20px;
  }
  .prose h1 {
    line-height: 56px;
    font-size: 48px;
    font-weight: 400;
  }
  .prose h2 {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.4px;
    font-weight: 400;
  }
  .prose h3 {
    line-height: 40px;
    line-height: 40px;
    font-size: 32px;
    font-weight: 400;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}
mark {
  background: none;
  opacity: 1;
  color: white;
}
.templateSearch {
  background: black;
}

@media (min-width: 1536px) {
  .prose {
    max-width: 80ch !important;
  }
}

@media (max-width: 1280px) {
  .prose {
    max-width: 50ch;
  }
}
@media (max-width: 1024px) {
  .templateSearch {
    width: calc(100vw - 3rem);
  }
}
@media (max-width: 768px) {
  .templateSearch {
    width: calc(100vw - 20px);
  }
  .prose {
    font-size: 110%;
  }
  .prose p,
  .prose ol,
  .prose ul {
    max-width: calc(100vw - 1.62rem);
  }
  .prose pre {
    max-width: calc(100vw - 1.62rem);
    overflow: scroll;
  }
}

.hljs {
  background: #000 !important;
}

table {
  border-collapse: separate !important;
  border-spacing: 0;
  border-style: hidden;
}
th,
td {
  padding: 10px !important;
  font-size: 14px;
  border: 0.5px solid #2f2f2f;
}
tbody {
  border-radius: 4px;
}

table tr:first-child th:first-child {
  border-top-left-radius: 4px;
}

table tr:first-child th:last-child {
  border-top-right-radius: 4px;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 4px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 4px;
}
th {
  background: #1a1a1a;
}

.gapFiller {
  box-shadow: -1px 0px 0 rgba(223, 239, 254, 0.14);
}
.gapFiller-right {
  filter: drop-shadow(-1px 0 0 rgba(223, 239, 254, 0.14));
  box-shadow: 1px 0px 0 rgba(223, 239, 254, 0.14);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

td {
  font-size: 16px;
}

iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  height: auto;
  border-radius: 20px;
}
