name: Format with prettier

on:
  pull_request:
    branches:
      - "main"

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: "22"

      - name: Authenticate with GitHub Package Registry
        run: echo "//npm.pkg.github.com/:_authToken=${{ secrets.GH_PAT }}" > ~/.npmrc

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Download dependencies
        run: pnpm install

      - name: Run prettier on website
        run: |-
          pnpm prettier -c 'www/**/*.{js,jsx,ts,tsx,css,md,mdx,json}'
