name: Format with prettier

on:
  pull_request:
    branches:
      - 'master'

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v3
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'npm'
      - name: Download dependencies
        run: npm ci
      - name: Run prettier on website
        run: |-
          npx prettier -c 'www/**/*.{js,jsx,ts,tsx,css,md,mdx,json}'
